doctype 5
html
  head
    title= "Nycum's Garage"
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    script(src='/javascripts/zepto.min.js', type="text/javascript")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      br
      button#leftGarage Left Garage
      br
      br
      button#rightGarage Right Garage
      br
      br
      button#bothGarage Both Garages

script(type="text/javascript")
  $("button#leftGarage").click(function() { $.post('/api/garage/left', function(data) { }); });
  $("button#rightGarage").click(function() { $.post('/api/garage/right', function(data) { }); });
  $("button#bothGarage").click(function() { $.post('/api/garage/both', function(data) { }); });
