* { /* quick reset */
	margin: 0px;
	padding: 0px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
	background-color: #DDD;
}

a {
	color: #00B7FF;
}

div#container {
	width: 95%;
	margin:0 auto;
}


button {
	/* Provided by layerstyles.org */
	border: 1px solid black;
	border-radius: 10px;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#167fe8), to(#003c7b));
	background-image: -webkit-linear-gradient(top, #167fe8, #003c7b);
	background-image: -moz-linear-gradient(top, #167fe8, #003c7b);
	background-image: -o-linear-gradient(top, #167fe8, #003c7b);
	background-image: -ms-linear-gradient(top, #167fe8, #003c7b);
	background-image: linear-gradient(to bottom, #167fe8, #003c7b);
	-webkit-box-shadow: 0 0 0 rgba(0,0,0,0.75), inset 0 1px 0 rgba(255,255,255,0.5);
	-moz-box-shadow: 0 0 0 rgba(0,0,0,0.75), inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: 0 0 0 rgba(0,0,0,0.75), inset 0 1px 0 rgba(255,255,255,0.5);

	color: #FFF;
	padding: 10px;
	margin:0px auto 10px;
	font-size: 1.5em;
	text-shadow: 0px 1px #000;
	width: 100%;
}
